<section class="featured-schools border-bottom">
  <div class="wrapper">
    <h2 class="section-title text-center">Información de la compañía</h2>
     <div class="school-col-row" [@show-company]="stateCompany">
      <div class="school-col">
        <h3>
          ¿Quienes Somos?
        </h3>
        <!-- <img style="width:35%; height: 35%" src="../../assets/images/Segurhoy_LogoBlanco2.png" alt="imagen-element"> -->
        <img style="width: 80%; height: 18%; padding: 20px;"
          src="../../assets/images/seguros-sura.png"
          alt="logo-sura">
        <p>
          <br>
          <strong>SEGURHOY LTDA</strong> contamos con una clave de comercializacion y autorizacion de venta
          por parte de <strong>SURAMERICANA DE SEGUROS</strong> lo que nos permitirá una valiosa alianza y respaldo
          en tus servicios.
        </p>
      </div>
      <div class="school-col">
        <h3>
          ¿Qué Hacemos?
        </h3>
        <!-- <img style="width:35%; height: 35%" src="../../assets/images/Segurhoy_LogoBlanco2.png" alt="imagen-element"> -->
        <img style="width: 40%; height: 22%; padding: 20px;" src="../../assets/images/security2.png"
          alt="logo-security">
        <p>
          En <strong>SEGURHOY LTDA</strong> trabajamos para darte una mayor confianza al momento de comercializar
          todo tipo de seguros que ofrece nuestra compañía, entre los que encontrarás todo lo que necesitas
          para proteger y cuidar a los que más quieres.
        </p>
      </div>
      <div class="school-col">
        <h3>
          Nuestro Objetivo
        </h3>
        <!-- <img style="width:35%; height: 35%" src="../../assets/images/Segurhoy_LogoBlanco2.png" alt="imagen-element"> -->
        <img style="width: 35%; height: 22%; padding: 20px;"
          src="../../assets/images/goal.png"
          alt="logo-sura">
        <p>
          Nuestro principal <strong>objetivo</strong> es brindarte siempre el mejor servicio y poderte
          ofrecer las mejores soluciones para lo que requieras y desees de parte de una promotora aseguradora de confianza
          como lo somos nosotros.
        </p>
      </div>
      <div class="school-col">
        <h3>
          ¿Qué Hacemos?
        </h3>
        <!-- <img style="width:35%; height: 35%" src="../../assets/images/Segurhoy_LogoBlanco2.png" alt="imagen-element"> -->
        <img style="width: 40%; height: 20%; padding: 20px;" src="../../assets/images/bill-paper.png"
          alt="logo-security">
        <p>
            <strong>SEGURHOY LTDA</strong> contamos con una clave de comercializacion y autorizacion de venta
            por parte de <strong>SURAMERICANA DE SEGUROS</strong> lo que nos permitirá una valiosa alianza y respaldo
            en tus servicios.
        </p>
      </div>
    </div>
    
        <!-- INICIO DE NUEVO CONTENIDO -->
        <section class="py-7 text-center border-bottom" style="padding: 70px;">
          <div class="container">
            <div class="row" [@show-works]="stateWorks">
              <div class="col text-center d-flex flex-column justify-content-end">
                <div>
                  <img src="https://stickeroid.com/uploads/pic/full-pngimg/79ec400240149b4b903c46727b68b183568d35e2.png" alt="imagen-fundador" style="width:40%; height: 40%; padding: 10px;">
                <h4> <strong>Fundador Segurhoy</strong> </h4>
                <p>
                  Luis Fernando Hoyos Aristizabal
                </p>
              </div>
              </div>
              <div class="col text-center d-flex flex-column justify-content-end">
                <div style="padding-bottom: 30px; position: initial;">
    
                  <p>
                    Nuestro fundador uso su mayor empeño para sacar una empresa como esta adelante,
                    siendo este su orgullo y uno de sus logros al lado de su familia.
                  </p>
              </div>
              </div>
            </div>
          </div>
        </section>
    
    
    
        <!-- FIN DE NUEVO CONTENIDO -->
  </div>



</section>