<section class="featured-schools border-bottom">

  <div class="wrapper">
    <h2>Información de la compañía Segurhoy</h2>
    <div class="school-col-row">
      <div class="school-col">
        <h3>
          Misión
        </h3>
        <img style="width:35%; height: 35%" src="../../assets/images/Segurhoy_LogoBlanco2.png" alt="imagen-element">
        <p>
          La misión de la compañía es extensa e interesante, todo lo que necesitas saber.
        </p>
      </div>
      <div class="school-col"></div>
      <div class="school-col"></div>
      <div class="school-col"></div>
    </div>
  </div>



</section>