<section class="featured-schools border-bottom">
  <div class="wrapper">
    <h2 class="section-title text-center">Información de la compañía</h2><br>
     <!-- <div class="school-col-row" [@show-company]="stateCompany">
      <div class="school-col">
        <h3>
          ¿Quienes Somos?
        </h3>
        <img style="width: 80%; height: 18%; padding: 20px;"
          src="../../assets/images/seguros-sura.png"
          alt="logo-sura">
        <p>
          <br>
          <strong>SEGURHOY LTDA</strong> contamos con una clave de comercializacion y autorizacion de venta
          por parte de <strong>SURAMERICANA DE SEGUROS</strong> lo que nos permitirá una valiosa alianza y respaldo
          en tus servicios.
        </p>
      </div>
      <div class="school-col">
        <h3>
          ¿Qué Hacemos?
        </h3>
        <img style="width: 40%; height: 22%; padding: 20px;" src="../../assets/images/security2.png"
          alt="logo-security">
        <p>
          En <strong>SEGURHOY LTDA</strong> trabajamos para darte una mayor confianza al momento de comercializar
          todo tipo de seguros que ofrece nuestra compañía, entre los que encontrarás todo lo que necesitas
          para proteger y cuidar a los que más quieres.
        </p>
      </div>
      <div class="school-col">
        <h3>
          Nuestro Objetivo
        </h3>
        <img style="width: 35%; height: 22%; padding: 20px;"
          src="../../assets/images/goal.png"
          alt="logo-sura">
        <p>
          Nuestro principal <strong>objetivo</strong> es brindarte siempre el mejor servicio y poderte
          ofrecer las mejores soluciones para lo que requieras y desees de parte de una promotora aseguradora de confianza
          como lo somos nosotros.
        </p>
      </div>
      <div class="school-col">
        <h3>
          ¿Qué Hacemos?
        </h3>
        <img style="width: 40%; height: 20%; padding: 20px;" src="../../assets/images/bill-paper.png"
          alt="logo-security">
        <p>
            <strong>SEGURHOY LTDA</strong> contamos con una clave de comercializacion y autorizacion de venta
            por parte de <strong>SURAMERICANA DE SEGUROS</strong> lo que nos permitirá una valiosa alianza y respaldo
            en tus servicios.
        </p>
      </div>
    </div>   
  </div> -->


  <div class="container" style="width: 100%;">
    <div class="row align-items-start" style="margin: 10px -50px 0; display: flex;">
      <div class="col-sm">
        <div class="border border-right-1 border-left-0 border-top-0 border-bottom-0" style="padding: 15px;">
          <h3>
            ¿Quienes Somos?
          </h3>
          <img style="width: 85%; height: 23%; padding: 20px;" src="../../assets/images/seguros-sura.png"
            alt="logo-sura">
          <p>
            <br>
            <strong>SEGURHOY LTDA</strong> contamos con una clave de comercializacion y autorizacion de venta
            por parte de <strong>SURAMERICANA DE SEGUROS</strong> lo que nos permitirá una valiosa alianza y respaldo
            en tus servicios.
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="border border-right-3 border-left-0 border-top-0 border-bottom-0" style="padding: 15px;">
          <h3>
            ¿Qué Hacemos?
          </h3>
          <img style="width: 42%; height: 24%; padding: 20px;" src="../../assets/images/icono-seguridad-company.png"
            alt="logo-security">
          <p>
            En <strong>SEGURHOY LTDA</strong> trabajamos para darte una mayor confianza al momento de comercializar
            todo tipo de seguros que ofrece nuestra compañía, entre los que encontrarás todo lo que necesitas
            para proteger y cuidar a los que más quieres.
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="border border-right-1 border-left-0 border-top-0 border-bottom-0" style="padding: 15px;">
          <h3>
            Nuestro Objetivo
          </h3>
          <img style="width: 42%; height: 24%; padding: 20px;" src="../../assets/images/icono-target-company.png"
            alt="logo-sura">
          <p>
            Nuestro principal <strong>objetivo</strong> es brindarte siempre el mejor servicio y poderte
            ofrecer las mejores soluciones para lo que requieras y desees de parte de una promotora aseguradora de
            confianza
            como lo somos nosotros.
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="border border-right-1 border-left-0 border-top-0 border-bottom-0" style="padding: 15px;">
          <h3>
            ¿Qué Hacemos?
          </h3>
          <img style="width: 42%; height: 24%; padding: 20px;" src="../../assets/images/icono-document-company.png"
            alt="logo-security">
          <p>
            <strong>SEGURHOY LTDA</strong> contamos con una clave de comercializacion y autorizacion de venta
            por parte de <strong>SURAMERICANA DE SEGUROS</strong> lo que nos permitirá una valiosa alianza y respaldo
            en tus servicios.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>