.main-header
{
    width: 100%;
    height: 10%;
    border: 0;
    text-align: center;
    position: sticky;
    margin: 0 auto;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,4);
    z-index: 1000;
}

.header-container
{
    margin: 0 auto;
    width: 100%;
    padding: 0px 20px 0px 20px;
    text-align: center;
    font-family: OswaldBold;
    background-color: #f9f9f9;
}

.column 
{
    float: left;
    padding: 10px;
    padding-bottom: 0px;
}
  
.left 
{
    width: 36%;
    padding: 0px;
    background-color: #f9f9f9;
}
  
.right 
{
    width: 60%;
    height: 20px;
}
  
.row:after 
{
    content: "";
    display: table;
    clear: both;
    width: 60%;
}

.container-header-buttons
{
    margin-right: 0px;
    margin-left: 5%;
}

.mynav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0px;
  }
   
.mynav li:not(:last-child) {
    margin-right: 20px;
}
   
.mynav a {
    display: block;
    color: #00739a;
    /* font-weight: bold; */
    text-shadow: 0.2px 0.2px #000000;
    text-decoration: none;
    padding: 5px 15px;
    cursor: pointer;
}
   
.target {
    position: absoslute;
    /*border-bottom: 4px solid transparent;*/
    z-index: -1;
    transform: translateX(-60px);
    width: 50px;
    height: 50px;
}
   
.mynav a,
.target {
    transition: all .35s ease-in-out;
}

hr{
    border-top: 2px solid #f38c3d;
    margin-top: 0;
}

.menu-option
{
    font-family: OswaldExtraLight;
    font-size: 1.5rem;
    position: relative;
}

@keyframes line {
    from {
      left:50%;
      width:0%;
    }
    to {
      left:5%;
      width:90%;
    }
}

#info {
    background: #f9f9f9;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}

.img-header
{
    width: 25%;
    height: 15%;
    cursor: pointer;
}

.img-header-mobile
{
    width: 25%;
    height: 15%;
    display: none;
    cursor: pointer;
}

.mobile-menu{
    float: right;
    display: none;
}


@media (max-width: 998px) {
    .img-header
    {
        display: none;
    }
    
    .img-header-mobile
    {
        width: 60%;
        height: 60%;
        display: block;
    }

    .mynav{
        right: 0;
        left: -100%;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f9f9f9;
        top: 71px;
        transition: 0.5s;
    }

    .mynav.active{
        left: 0;
    }

    .mynav ul{
        display: block;
        text-align: center;
    }
    
    .mynav ul li a {
        border-bottom: 1px solid rgba(119,136,153,.5);
    }

    .contact-menu{
        margin-right: 20px;
    }

    .mobile-menu{
        display: block;
    }
}

@media (max-width: 768px) {
    .img-header
    {
        display: none;
    }
    
    .img-header-mobile
    {
        width: 80%;
        height: 80%;
        display: block;
    }

    .mynav{
        right: 0;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #f9f9f9;
        top: 50px;
        transition: 0.5s;
    }

    .mynav.active{
        left: 0;
    }

    .mynav ul{
        display: block;
        text-align: center;
    }
    
    .mynav ul li a {
        border-bottom: 1px solid rgba(119,136,153,.5);
    }

    .contact-menu{
        margin-right: 20px;
    }

    .mobile-menu{
        display: block;
    }
}

@media (max-width: 590px) {
    .img-header
    {
        display: none;
    }
    
    .img-header-mobile
    {
        width: 100%;
        height: 100%;
        display: block;
    }
    .mynav{
        right: 0;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #f9f9f9;
        top: 50px;
        transition: 0.5s;
    }

    .mynav.active{
        left: 0;
    }

    .mynav ul{
        display: block;
        text-align: center;
    }
    
    .mynav ul li a {
        border-bottom: 1px solid rgba(119,136,153,.5);
    }

    .contact-menu{
        margin-right: 20px;
    }

    .mobile-menu{
        display: block;
    }
}

@media (max-width: 480px) {
    .img-header
    {
        display: none;
    }
    
    .img-header-mobile
    {
        width: 120%;
        height: 120%;
        display: block;
    }
    .mynav{
        right: 0;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #f9f9f9;
        top: 50px;
        transition: 0.5s;
    }

    .mynav.active{
        left: 0;
    }

    .mynav ul{
        display: block;
        text-align: center;
    }
    
    .mynav ul li a {
        border-bottom: 1px solid rgba(119,136,153,.5);
    }

    .contact-menu{
        margin-right: 20px;
    }

    .mobile-menu{
        display: block;
    }
}

@media (max-width: 380px) {
    .img-header
    {
        display: none;
    }
    
    .img-header-mobile
    {
        width: 160%;
        height: 160%;
        display: block;
    }
    .mynav{
        right: 0;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #f9f9f9;
        top: 50px;
        transition: 0.5s;
    }

    .mynav.active{
        left: 0;
    }

    .mynav ul{
        display: block;
        text-align: center;
    }
    
    .mynav ul li a {
        border-bottom: 1px solid rgba(119,136,153,.5);
    }

    .contact-menu{
        margin-right: 20px;
    }

    .mobile-menu{
        display: block;
    }
}

@media (max-width: 250px) {
    .img-header
    {
        display: none;
    }
    
    .img-header-mobile
    {
        width: 200%;
        height: 200%;
        display: block;
    }
    .mynav{
        right: 0;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #f9f9f9;
        top: 50px;
        transition: 0.5s;
    }

    .mynav.active{
        left: 0;
    }

    .mynav ul{
        display: block;
        text-align: center;
    }
    
    .mynav ul li a {
        border-bottom: 1px solid rgba(119,136,153,.5);
    }

    .contact-menu{
        margin-right: 20px;
    }

    .mobile-menu{
        display: block;
    }
}