  <div class="main-header" id="navbar">

    <div class="row" id="info" [@resizeHeader]="stateH" style="height: auto;">
      <div class="column left">
        <div class="header-container">
          <img class="img-header" [@moveHeader]="state" src="../../assets/images/Segurhoy_CompletoLogo.png" alt="loogoSegurhoy">
          <!-- <img class="img-header" [@moveInfoHeader]="stateInfo" src="../../assets/images/Segurhoy_InfoLogo.png" alt="loogoSegurhoy"> -->
        </div>
      </div>
      <div class="column right">
        <div class="container-header-buttons">

          <!--<ul class="nav-items">
          <li>
            <a>
              Casos
            </a>
          </li>
          <li>
            <a>
              Servicios
            </a>
          </li>
          <li>
            <a>
              Información
            </a>
          </li>
          <li>
            <a>
              Contacto
            </a>
          </li>
        </ul>
      </div>-->


     
      <!-- Crear un header que se mostrará cuando nos movamos en la página, con este elemento se mostrará 
        por código en el body (Ojo que se dañó el banner con los servicios, mirar la animación del body)
      <div class="animated fadeInDown" id="navbar">
      -->

          <nav class="mynav">
            <ul [@moveInfoHeader]="stateInfo">
              <li (mouseover)="onMouseOver('1')" (mouseout)="onMouseOut('1')">
                <a class="menu-option" href="">Inicio</a>
                <hr [@animation-1]="state1" />
              </li>
              <li (mouseover)="onMouseOver('2')" (mouseout)="onMouseOut('2')">
                <a class="menu-option" href="">Compañia</a>
                <hr [@animation-2]="state2" />
              </li>
              <li (mouseover)="onMouseOver('3')" (mouseout)="onMouseOut('3')">
                <a class="menu-option" href="">Clientes</a>
                <hr [@animation-3]="state3" />
              </li>
              <li (mouseover)="onMouseOver('4')" (mouseout)="onMouseOut('4')">
                <a class="menu-option" href="">Trabajo</a>
                <hr [@animation-4]="state4" />
              </li>
              <li (mouseover)="onMouseOver('5')" (mouseout)="onMouseOut('5')">
                <a class="menu-option" href="">Contacto</a>
                <hr [@animation-5]="state5" />
              </li>
            </ul>
          </nav>

          <span class="target"></span>

        </div>
      </div>

      <!-- <div class="container-down-image">
        <img class="img-down-header" src="../../assets/images/posibleBanner2.png" alt="header-image">
      </div> -->

    </div>

  </div>

<!--

<div class="main-header">
<nav class="is-landing" id="nav-top">
  <div class="container-fluid">
    <a href="/" class="nav-logo">
      <img height="70" src="../../assets/images/SegundoLogoSegurhoy.png" alt="loogoSegurhoy">
    </a>
    <ul class="nav-items">
        <li>Información</li>
        <li>Contacto</li>
      </ul>
  </div>


</nav>



</div>

-->