<footer>
    <div class="top-footer">
        <div class="new-container">
            Información Cualquiera
            <p>Navigation is one of the most important elements of your website so today we'll be creating a modern
                overlay style menu using jQuery and Flexbox. Starting with the layout for mobile we'll stack the
                elements on top of one another and then move on to centre the elements and share the available space
                between navigation items when the viewport is large enough and then fix the whole content block
                perfectly centred at a set maximum width, allowing the height to be dictated by the content.

            </p>
        </div>
        <img style="width: 30%; height: 30%" src="../../assets/images/Segurhoy_LogoBlanco.png" alt="footer-image">
    </div>
</footer>