<footer>
    <div class="container" style="color: #fff; margin: 0 auto; width: 80%; padding: 60px 0px 50px 0px">
        <div class="row">
            <div class="col-sm">
                <img class="footer-logo" src="../../assets/images/Segurhoy_LogoBlanco4.png" alt="footer-image">
            </div>
            <div class="col-sm" style="padding-top: 20px;">
                <p>
                </p>
                <a href="" class="icon-button twitter"><span class="icon-twitter"></span></a>
                <a href="" class="icon-button facebook"><span class="icon-facebook"></span></a>
                <a href="" class="icon-button google-plus"><span class="icon-google-plus"></span></a>
            </div>

        </div>
    </div>
</footer>