<section class="py-7 text-center border-bottom">
  <div class="container">
    <h2 class="section-title text-center">¡Contactanos!</h2>
    <!-- <div class="row">
      <div class="col text-center d-flex flex-column justify-content-end">
        <div style="padding-bottom: 90px;">
          <h4> <strong>Ingresa algunos datos personales</strong> </h4>
          <p>
            Si quieres tener más información o solicitas asesoria en algún caso o estudio
            de cualquier tipo, dejanos tu información y con gusto te contactaremos lo antes posible.
          </p>
        </div>
      </div>
      <div class="col text-center d-flex flex-column justify-content-end">
        <div style="padding-top: 10px; position: initial;">
          <form>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Nombre: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword" placeholder="Nombre de Contacto">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Email: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" placeholder="email@ejemplo.com">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Teléfono: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" placeholder="Teléfono">
              </div>
            </div>
          </form>
        </div>
        <br>
        <div style="width: 50%; margin: 0 auto; text-align: center;">
          <button (click)="fillContact()" class="button-contact">Enviar</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center d-flex flex-column justify-content-end">
        <div style="padding-bottom: 90px;">
          <h4> <strong>Buscanos en nuestras oficinas</strong> </h4>
          <p>
            Si prefieres atención personal y más cercana puedes acercarte a una de nuestras oficinas
            en las que con gusto te recibiremos y atenderemos todas tus dudas y contarás con el mejor
            personal para atenderte.
          </p>
        </div>
      </div>
      <div class="col text-center d-flex flex-column justify-content-end">
        <div style="padding-top: 10px;">
          <h4> <strong>{{ title }}</strong> </h4>
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="row" style="padding-top: 40px;">
        <div class="col-sm">
          <h4> <strong>Ingresa algunos datos personales</strong> </h4>
          <p>
            Si quieres tener más información o solicitas asesoria en algún caso o estudio
            de cualquier tipo, dejanos tu información y con gusto te contactaremos lo antes posible.
          </p>
        </div>
        <div class="col-sm">
          <form>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Nombre: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword" placeholder="Nombre de Contacto">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Email: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" placeholder="email@ejemplo.com">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Teléfono: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" placeholder="Teléfono">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Hablanos de tu caso: </label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
          <button class="button-contact" (click)="fillContact()">Enviar</button>
        </div>
      </div>
      <div class="row"  style="padding-top: 40px;">
          <div class="col-sm" style="position: inherit;">
              <h4> <strong>Buscanos en nuestras oficinas</strong> </h4>
              <p>
                Si prefieres atención personal y más cercana puedes acercarte a una de nuestras oficinas
                en las que con gusto te recibiremos y atenderemos todas tus dudas y contarás con el mejor
                personal para atenderte.
              </p>
          </div>
          <div class="col-sm" style="position: inherit;">
              <div style="position: inherit;">
                  <h4> {{ title }} </h4>
                  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
                </div>
          </div>
        </div>
    </div>
  </div>
</section>