<section class="py-7 text-center border-bottom">
  <div class="container">
    <h2 class="section-title text-center">Titulo de Ejemplo para esra sección</h2>
    <div class="lead mb-5">Subtitulo de ejemplo para esta sección</div>
    <div class="row">
      <div class="col text-center d-flex flex-column justify-content-end">
        <div class="my-3"></div>
        <h4>Item 1 de la sección</h4>
        <p>Decide que quieres hacer hoy</p>
      </div>
      <div class="col text-center d-flex flex-column justify-content-end">
          <div class="my-3">
            <img style="width: 25%; height: 50%;" src="../../assets/images/architecture-buildings-chicago-1604141.jpg" alt="item-1">
          </div>
          <h4>Item 1 de la sección</h4>
          <p>Decide que quieres hacer hoy</p>
        </div>
        <div class="col text-center d-flex flex-column justify-content-end">
            <div class="my-3"></div>
            <h4>Item 1 de la sección</h4>
            <p>Decide que quieres hacer hoy</p>
          </div>
    </div>
  </div>


</section>