<section class="main-work center-text border-bottom">
  <div class="container" [@show-works]="stateWorks">
    <h2 class="title center-text">Clientes</h2>
    <div class="sub subtitle">Algunas de las compañías con las que trabajamos</div>
    <div class="row" [@show-works]="stateWorks">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div style="padding: 15px;">
          <h3>
            Suramericana de Seguros
          </h3>
          <img style="width: 85%; height: 23%; padding: 20px;" src="../../assets/images/seguros-sura.png"
            alt="logo-sura">
          <p>
            <br>
            En <strong>SEGURHOY LTDA</strong> contamos con una clave de comercializacion y autorizacion de venta
            por parte de <strong>SURAMERICANA DE SEGUROS</strong> lo que nos permitirá una valiosa alianza y respaldo
            en tus servicios.
          </p>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
</section>