<div class="card-container">
  <div class="container"></div>
  <h1 class="section-title text-center">Algunos de nuestros servicios</h1>
  <ul [@show-services]="stateServices">
    <li>
      <div class="pic-2">
        <img src="../../assets/images/family.png">
      </div>
      <br>
      <h3>Asegura Tu Vida</h3>
      <p>
        Porque sabemos que tus sueños y tu autonomía son esenciales para que te sientas pleno, te ac​​​ompañamos
        incondicionalmente con el fin de que vivas intensamente​ cada moment​​o.​​
      </p>
    </li>
    <li>
      <div class="pic-2">
        <img src="../../assets/images/salud.png">
      </div>
      <br>
      <h3>Asegura Tu Salud</h3>
      <p>
        Entre más conocemos de ti, más podemos cuidarte. Por eso,
        ponemos a tu disposición diferentes programas y servicios que te cuidan a ti y a los que más quieres.
        Conoce más de estos servicios para tu bienestar.
      </p>
    </li>
    <li>
      <div class="pic-2">
        <img src="../../assets/images/house.png">
      </div>
      <br>
      <h3>Asegura Tu Vivienda</h3>
      <p>
        Sabemos que tu vivienda y lo que tienes dentro de ella lo has conseguido con esfuerzo,
        por eso protegemos tu hogar contra todo lo que le pued​a pasar.​​​​​​ 
      </p>
    </li>
  </ul>

  <ul>
    <li>
      <div class="pic-2">
        <img src="../../assets/images/car.png">
      </div>
      <br>
      <h3>Asegura Tu Movilidad</h3>
      <p>
        Sabemos que cuando compras un carro quieres también seguridad y protección 
        para ti y para quienes te acompañan en el camino.
      </p>
    </li>
    <li>
      <div class="pic-2">
        <img src="../../assets/images/bill.png">
      </div>
      <br>
      <h3>Seguros para bienes y patrimonio</h3>
      <p>
          Los recursos representan una inversión importante para las compañías, 
          por ello es necesario que cuenten con el mejor respaldo ante futuros inconvenientes 
          que puedan perjudicarlos.
      </p>
    </li>
    <li>
      <div class="pic-2">
        <img src="../../assets/images/worker.png">
      </div>
      <br>
      <h3>Seguros para empleados</h3>
      <p>
          Que sus empleados adquieran una cultura de ahorro y aseguren los ingresos 
          que complementarán su pensión, está en sus manos, gracias al Seguro de​ 
          Pensión que ofrece SURA.
      </p>
    </li>
  </ul>
</div>