<div class="info-container">
  <!-- <h2 class="section-title text-center">Segurhoy</h2> -->
    <img class="image-logo-info" src="../../assets/images/Segurhoy_LogoBlanco4.png" alt="logo-header-info">
  <h2 class="section-title text-center"> Una promotora de seguros en la que puedes confiar</h2>
  <div class="container" style="width: 70%; margin: 0 auto; text-align: center;">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm" style="position: inherit;">
          <img src="../../assets/images/icono-llamar.png" alt="icono-llamada">
        <label for="inputPassword" class="col-sm col-form-label" style="font-size: 1.5rem;">¡Déjanos tu número de teléfono de contacto para recibir
          más información!: </label>
          <br>
        <input type="text" class="form-control" id="inputPassword" placeholder="Teléfono de Contacto">
        <button type="submit" class="button" style="position: inherit;">Enviar</button>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
  <br>
</div>