<div class="info-container">
  <img class="image-logo-info" src="../../assets/images/Segurhoy_LogoBlanco4.png" alt="logo-header-info">
  <h2 class="title center-text"> Una promotora de seguros en la que puedes confiar</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <img src="../../assets/images/icono-llamar.png" alt="icono-llamada">
        <p>LLamanos y así podremos darte una solución más rápida</p>
        <h2>(1) 368 47 77</h2>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
  <br>
</div>