.info-container{
    color: #FFFFFF; 
    background: url(/../../assets/images/fondo-info6.jpg);
    width: 100%; 
    text-align: center; 
    margin: 0 auto; 
    padding-top: 120px; 
    position: inherit;
    font-family: OswaldExtraLight;
}

.image-logo-info{
    width: 20%; 
    height: 20%; 
    opacity: 1; 
    margin: 20px;
}

h2 {
    padding-bottom: 30px;
    margin-bottom: 5px;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
}
h1, h2 {
    font-family: OswaldLight;
    line-height: 1;
    /* text-shadow: 0 0 1px #FFFFFF; */

}

p{
    font-size: 3rem;
    margin-bottom: 0px;
}

.section-title.text-center{
    font-size: 2.5rem;
    padding-bottom: 0px;
    margin-top: 10px;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
    position: inherit;
    /* text-shadow: 0 0 2px #FFFFFF; */
}

.section-title.text-center:after, .text-center .section-title:after {
    margin: 2rem auto;
}

.section-title:after {
    content: "";
    display: block;
    max-width: 20rem;
    height: 2px;
    background-color: #FFFFFF;
    margin: 1rem auto 1rem 0;
}

.button {
    background-color: #f38c3d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
  }


@media (min-width: 1700px) {
    .image-logo-info{
        width: 20%; 
        height: 20%;
    }

    .info-container{
        background: url(../../assets/images/nuevoBannerExpandidoMaxRes.jpg);
    }
} 


@media (max-width: 992px) {
    .image-logo-info{
        width: 20%; 
        height: 20%; 
    }
}

@media (max-width: 768px) {
    .image-logo-info{
        width: 40%; 
        height: 40%;
    }
}

@media (max-width: 576px) {
    .image-logo-info{
        width: 60%; 
        height: 60%;
    }
}



/* @media (min-width: 576px) {
    .image-logo-info{
        width: 20%; 
        height: 20%; 
        opacity: 1; 
        margin: 50px;
    }
}
@media (min-width: 768px) {
    .image-logo-info{
        width: 20%; 
        height: 20%; 
        opacity: 1; 
        margin: 50px;
    }
}

@media (min-width: 992px) {
    .image-logo-info{
        width: 20%; 
        height: 20%; 
        opacity: 1; 
        margin: 50px;
    }
}

@media (min-width: 1200px) {
    .image-logo-info{
        width: 20%; 
        height: 20%; 
        opacity: 1; 
        margin: 50px;
    }
} */