.info-container{
    color: #FFFFFF; 
    /* background: url(/../../assets/images/posibleFondoBanner2.png);  */
    background: url(/../../assets/images/fondo-info5.jpg);
    /* background: url(https://images.pexels.com/photos/916017/pexels-photo-916017.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
    width: 100%; 
    text-align: center; 
    margin: 0 auto; 
    padding-top: 120px; 
    position: inherit;
}


.image-logo-info{
    width: 20%; 
    height: 20%; 
    opacity: 1; 
    margin: 50px;
}

h2 {
    padding-bottom: 30px;
    margin-bottom: 5px;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
}
h1, h2 {
    font-family: OswaldLight;
    line-height: 1;
    /* text-shadow: 0 0 1px #FFFFFF; */

}

p{
    font-size: 3rem;
    margin-bottom: 0px;
}

.section-title.text-center{
    font-size: 5rem;
    padding-bottom: 0px;
    margin-top: 10px;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
    /* text-shadow: 0 0 2px #FFFFFF; */
}

.section-title.text-center:after, .text-center .section-title:after {
    margin: 2rem auto;
}

.section-title:after {
    content: "";
    display: block;
    max-width: 20rem;
    height: 2px;
    background-color: #FFFFFF;
    margin: 1rem auto 1rem 0;
}