<section class="web_homePage" (scroll)="onWindowScroll($event);">
  <div class="containerMain">
    <div id="home">
      <app-info></app-info>
    </div>
    <div id="work">
      <app-contentcard></app-contentcard>
    </div>
    <div id="company">
      <app-company></app-company>
    </div>
    <div id="clients">
      <app-work></app-work>
    </div>
    <div id="contact">
      <app-contacto></app-contacto>
    </div>
  </div>
</section>
<div style="padding-top: 50px;">
  <app-footer></app-footer>
</div>