html {
    scroll-behavior: smooth;
  }
  
.containerMain 
{
    width:70%; margin: 0 auto;
    text-align: center; padding: 40px; 
    background-color: #FFFFFF;
    font-family: PoppinsThin;
    border-radius: 20px 20px 20px 20px;
    opacity: 0.9;
}

ul 
{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}

ul li 
{
    list-style: none;
}

.btnMenuLateral{
    border-radius: 20%;
}

#menuBotones
{
    border-radius: 40px;
    background: #ffa500;
    font-family: Lobster;
    padding: 20px;
    width: 100px;
    height: 150px; 
    color: #FFFFFF;
    text-align: center; 
    cursor: pointer;
}

#btnInfo:hover {
    background: #FFFFFF;
    color: #ffa500;
}

#btnVision:hover {
    background: #FFFFFF;
    color: #ffa500;
}

#btnMision:hover {
    background: #FFFFFF;
    color: #ffa500;
}

#btnContacto:hover {
    background: #FFFFFF;
    color: #ffa500;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }